<a href="https://colab.research.google.com/github/ArtemGuskov/University/blob/main/Tasks/Ex_task_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Дополнительное задание №2.1**

---

**Пункт 1:**

Напишите программу, которая принимает список строк, содержащих числа, и преобраует их в список целых чисел, возведённых в куб. Используйте функции `map()` и `lambda`.

**Пример:**

```python
# Входные данные
numbers = ['1', '2', '3', '4', '5']

# Ожидаемый результат
[1, 8, 27, 64, 125]
```

In [ ]:
numbers = input().split()
kyb = list(map(lambda x: int(x)**3, numbers))

print(kyb)

1 2 3 4 5
[1, 8, 27, 64, 125]

---

**Пункт 2:**

Используя `filter()` и `lambda`, из списка слов отфильтруйте только те, которые начинаются и заканчиваются на одну и ту же букву.

**Пример:**

```python
# Входные данные
words = ['level', 'python', 'radar', 'world', 'rotor']

# Ожидаемый результат
['level', 'radar', 'rotor']
```

In [ ]:
words = input().split()

result = list(filter(lambda x: x[0].lower() == x[-1].lower(), words))
print(result)

level python radar world rotor
['level', 'radar', 'rotor']

---

**Пункт 3:**

С помощью `reduce()` и `lambda` найдите наибольшее число в списке чисел.

**Подсказка:** Функция `reduce()` находится в модуле `functools`.

**Пример:**

```python
# Входные данные
numbers = [47, 11, 42, 102, 13]

# Ожидаемый результат
102
```

In [ ]:
from functools import reduce

numbers = list(map(int, input().split()))
max_number = reduce(lambda x, y: x if x > y else y, numbers)

print(max_number)

47 11 42 102 13
102

---

**Пункт 4:**

Объедините два списка чисел в один список кортежей, где каждый кортеж состоит из элементов исходных списков, возведённых в квадрат и куб соответственно. Используйте функции `map()`, `lambda` и `zip()`.

**Пример:**

```python
# Входные данные
list1 = [1, 2, 3]
list2 = [4, 5, 6]

# Ожидаемый результат
[(1, 64), (4, 125), (9, 216)]
```

In [ ]:
list1 = list(map(int, input().split()))
list2 = list(map(int, input().split()))

kyb = list(map(lambda x: (x[0]**2, x[1]**3), zip(list1, list2)))

print(kyb)

1 2 3
4 5 6
[(1, 64), (4, 125), (9, 216)]

---

**Пункт 5:**

Напишите программу, которая принимает строку с целыми числами, разделёнными запятыми, и вычисляет сумму чётных чисел из этой строки. Используйте функции `map()`, `filter()`, `lambda` и `reduce()`.

**Пример:**

```python
# Входные данные
numbers = '1,2,3,4,5,6,7,8,9,10'

# Ожидаемый результат
30  # (2 + 4 + 6 + 8 + 10)
```

In [ ]:
from functools import reduce

numbers = [int(x) for x in input().split(',')]
num2 = list(filter(lambda x: x % 2 == 0, numbers))
num3 = reduce(lambda x, y: x + y, num2)
print(num3)

1,2,3,4,5,6,7,8,9,10
30


---

**Пункт 6:**

Используя `map()` и `lambda`, преобрауйте список температур в граусах Цельсия в список температур в граусах Фаренгейта. Формула преобраования: F = C * 9/5 + 32.

**Пример:**

```python
# Входные данные
celsius = [0, 15, 30, 100]

# Ожидаемый результат
[32.0, 59.0, 86.0, 212.0]
```

In [ ]:
celsius = list(map(int, input().split()))
faren = list(map(lambda x: x * 9/5 + 32, celsius))
print(faren)

0 15 30 100
[32.0, 59.0, 86.0, 212.0]

---

**Пункт 7:**

У вас есть список чисел. Используя комбинацию функций `filter()`, `map()` и `lambda`, получите новый список, содержащий квадраты нечётных чисел из исходного списка.

**Пример:**

```python
# Входные данные
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# Ожидаемый результат
[1, 9, 25, 49, 81]
```

In [ ]:
numbers = list(map(int, input().split()))
ne_chet = list(filter(lambda x: x % 2 != 0, numbers))
nov_chisl = list(map(lambda x: x ** 2, ne_chet))
print(nov_chisl)

1 2 3 4 5 6 7 8 9
[1, 9, 25, 49, 81]

---
**Пункт 8:**

С помощью функции `reduce()` и `lambda` вычислите произведение всех чисел в списке.

**Пример:**

```python
# Входные данные
numbers = [1, 2, 3, 4, 5]

# Ожидаемый результат
120  # (1 * 2 * 3 * 4 * 5)
```

In [ ]:
from functools import reduce

numbers = list(map(int, input().split()))
proizv = reduce(lambda x, y: x * y, numbers)
print(proizv)

1 2 3 4 5
120

---

**Пункт 9:**

Дан список строковых представлений чисел. Используя `map()`, `lambda` и метод строки `isdigit()`, преобразуйте список, заменив нечисловые строки на число 0.

**Пример:**

```python
# Входные данные
strings = ['10', '20', 'abc', '30', 'def']

# Ожидаемый результат
[10, 20, 0, 30, 0]
```

In [ ]:
strings = [x for x in input().split()]
nov_sps = list(map(lambda x: x if x.isdigit() == True else 0, strings))
print(nov_sps)

10 20 abc 30 def
['10', '20', 0, '30', 0]

---

**Пункт 10:**

Есть два списка координат X и Y одинаковой длины. Используя `zip()` и `lambda`, объедините их в список точек — кортежей `(x, y)`.

**Пример:**

```python
# Входные данные
x_coords = [1, 2, 3]
y_coords = [4, 5, 6]

# Ожидаемый результат
[(1, 4), (2, 5), (3, 6)]
```

In [ ]:
x = list(map(int, input().split()))
y = list(map(int, input().split()))

rez = list(map(lambda x: (x[0], x[1]), zip(x,y)))
print(rez)

1 2 3
4 5 6
[(1, 4), (2, 5), (3, 6)]

---

**Пункт 11:**

Напишите программу, которая принимает список слов и возвращает словарь, где ключами являются слова, а значениями — длины этих слов. Используйте `map()` и `lambda`.

**Пример:**

```python
# Входные данные
words = ['apple', 'banana', 'cherry']

# Ожидаемый результат
{'apple': 5, 'banana': 6, 'cherry': 6}
```

In [ ]:
words = input().split()
slovar = dict(map(lambda x: (x, len(x)), words))
print(slovar)

apple banana cherry
{'apple': 5, 'banana': 6, 'cherry': 6}

---

**Пункт 12:**

Используя `filter()` и `lambda`, из списка чисел оставьте только простые числа.

**Пример:**

```python
# Входные данные
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10]

# Ожидаемый результат
[2, 3, 5, 7]
```

*Подсказка:* Для проверки числа на простоту может понадобиться дополнительная функция.

In [ ]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True


numbers = list(map(int, input().split()))
prime_numbers = list(filter(lambda x: is_prime(x), numbers))
print(prime_numbers)

2 3 4 5 6 7 8 9 10
[2, 3, 5, 7]

---
**Пункт 13:**

Объедините три списка чисел в один список сумм соответствующих элементов. Используйте `map()`, `lambda` и `zip()`.

**Пример:**

```python
# Входные данные
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = [7, 8, 9]

# Ожидаемый результат
[12, 15, 18]  # (1+4+7, 2+5+8, 3+6+9)
```

In [ ]:
list1 = list(map(int, input().split()))
list2 = list(map(int, input().split()))
list3 = list(map(int, input().split()))

sum_el = list(map(lambda x: x[0] + x[1] + x[2], zip(list1, list2, list3)))
print(sum_el)

1 2 3
4 5 6
7 8 9
[12, 15, 18]

---

**Пункт 14:**

С помощью `reduce()` и `lambda` подсчитайте количество появлений каждого символа в строке (без учета регистра), и выведите символ, который встречается чаще всего.

**Пример:**

```python
# Входные данные
text = 'Functional programming with lambda functions'

# Ожидаемый результат
'n'  # n встречается чаще всего
```

*Подсказка:* Возможно, понадобится преобразовать строку в список символов и использовать словарь для подсчета.

In [ ]:
from functools import reduce

text = 'Functional programming with lambda functions'
chars = list(text.lower())
char_count = reduce(lambda count_dict, char:
                   {**count_dict, char: count_dict.get(char, 0) + 1},
                   chars, {})
most_common_char = max(char_count.items(), key = lambda x: x[1])[0]
print(f"'{most_common_char}'")

'n'

---

**Пункт 15:**

Используя `map()`, `filter()`, `reduce()` и `lambda`, из заданного списка слов найдите общее количество гласных букв.

**Пример:**

```python
# Входные данные
words = ['python', 'lambda', 'functions', 'map', 'filter', 'reduce']

# Ожидаемый результат
13
```

*Подсказка:* Гласные буквы — 'a', 'e', 'i', 'o', 'u'.

In [ ]:
from functools import reduce

words = ['python', 'lambda', 'functions', 'map', 'filter', 'reduce']
glasn = 'aeiouy'
kolvo_glasn = reduce(lambda x, y: x + y, map(lambda word: len(list(filter(lambda gl: gl in glasn, word))), words))
print(kolvo_glasn)

13

---